<h3>Login:</h3>
<div class="card mt-4">
    <div class="card-body">
        <form action="/usuarios/login" method="POST">
            <label for="email">Email: </label>
                <input type="text" id="email" name="email" placeholder="e-mail do usuário" class="form-control" required>
            <label for="senha">Senha: </label>
                <input type="password" id="senha" name="senha" placeholder="senha" class="form-control" required>
            <button type="submit" class="btn btn-success mt-4">Entrar</button>
        </form>
    </div>
</div>