<div class="card mt-4">
    <div class="card-body">
        <h2>{{postagem.titulo}}</h2>
        <hr>
        <small>Data de publicação: {{postagem.data}}</small><br>
        <hr>
        {{postagem.conteudo}}
    </div>
</div>
